.top-rated{
    width:80vw;
    margin:auto;
    padding:0 0 2vw;
    background-color: rgb(251, 208, 184);

}
.top-row{
    display: inline;
    margin:2vw auto;
}
.top-product{
    width:80vw;
    display: flex;
    
}
.top-images{
    width:30vw;
    height:30vw;
    margin:auto;
    cursor: pointer;
}
.top-text{
    width: 40vw;
    height:35vw;
    font-size:2vw;
    color: #505052;
    margin: 0 3vw;
}
.load-more{
    background-color: white;
    font-family: 'Amatic SC', cursive;
    width:20vw;
    font-size: 2vw;
    margin:2vw 30vw;
}
.mask {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal-window{
    position: fixed;
    top:5vw;
    left:5vw;
    bottom: 5vw;
    right:5vw;
    width:90vw;
    height:90vh;
    background-color: white;
    margin:auto;
    display: grid;
    grid-template-areas: 
    'name'
    'image'
    'ingr' 
    'health' 
    'diet' 
    'calories';
    border:5px solid rgb(242, 142, 124);
    padding-bottom:5vw;
}
.x{
    position: absolute;
    top:0;
    right:0;
    width:5vw;
    height:5vh;
    font-size:3vw;
    text-align: center;
}
.image-modal{
    grid-area: image;
    width:30vh;
    margin:0 auto;
}
.name-modal{
    grid-area: name;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 5vw;

}
.ingr-modal{
    grid-area: ingr;
    
}
.health-modal{
    grid-area:health;
    
}
.calories-modal{
    grid-area: calories;
}
.diet-modal{
    grid-area: diet;
}
.modal{
    font-size: 1.5vh;
    width: 30vh;
    margin:2vh auto;
    word-break: break-all;
}
.top-rated-text{
    font-family: 'Amatic SC', cursive;
    font-style: italic;
    font-size: 2vw;
    margin:0 15vw;
    color:white;
    
}
@media screen and (min-width: 1200px){
    .top-rated{
        width:65vw;
        float:left;
        margin: 0 10vw 2vw;
        
    }
    .top-row{
        width:65vw;
        height:10vw;
        margin:2vw 0 5vw 1vw;
        display: flex;
    }
    h3{
        font-size: 1vw;
    }
    .top-product{
        width:21.5vw;
    }
    .top-text{
        width:16.5vw;
        height:10vw;
        font-size:0.7vw;
        margin:1vw 0.5vw 0 0.5vw;
        
        
    }
    .top-images{
        width:10vw;
        height:10vw;
        margin:2vw 0 0 0;
    }
    .load-more{
        margin: 2vw 20vw;
        z-index:2;
    }
    
}
@media screen and (min-width:900px){
    .modal-window{
        grid-template-areas: 
        'name name name name'
        'image ingr ingr ingr'
        'image health diet calories';
       
    }
    .x{
        width:3vw;
        height:3vw;
        font-size:2vw;
    }
    .image-modal{
        grid-area: image;
        width:35vw;
        height:65vh;
        margin:0 5vw;
    }
    .name-modal{
        grid-area: name;
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-size: 3vw;
    
    }
    .modal{
        font-size: 1.5vw;
        width:15vw;
        margin:0;
    }
}